<form class="m-2">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Enter Comment:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <a class="btn btn-primary" href="#" role="button">Comment</a>
    <a class="btn btn-primary" href="#" role="button">Cancel</a>
</form>