<div class="row">
    <div class="col-12">
        <form class="form new-comment-form">
            <div class="form-group">
                <label for="new-comment-text">Enter Comment Text {{post_id}}</label>
                <input type="text" class="form-control" id="new-post-text" placeholder="blah, blah, blah...">
            </div>
            <button class="btn btn-primary" type="submit">Submit Comment</button>
        </form>
    </div>
</div>

<script src="./js/newComment.js"></script>