<div class="row">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            {{#each userPosts as |data|}}
            <div class="card mt-4">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        Some placeholder content for the first accordion panel. This panel is shown by default, thanks
                        to the <code>.show</code> class.
                    </div>
                    <div>
                        <a class="btn btn-primary mx-3 my-2" href="#" role="button">Make Comment</a>
                    </div>
                    {{#if comment}}
                    <div>
                        <p>
                            <a class="btn btn-primary mx-3" data-toggle="collapse" href="#collapseExample" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                View Comments
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample">
                            {{#each comment as |commentData|}}
                            <div class="col-12 mt-2">
                                <div class="card" style="width: 18rem;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <p>{{username}}: {{content}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row justify-content-center mt-4">
            <a class="btn btn-primary" href="#" role="button">Create New Post</a>
        </div>
    </div>
</div>