<div class="row">
    <div class="col-12">
        <form class="form new-post-form">
            <div class="form-group">
                <label for="new-post-text">Enter Post Text</label>
                <input type="text" class="form-control" id="new-post-text" placeholder="blah, blah, blah...">
            </div>
            <button class="btn btn-primary" type="submit">Submit Post</button>
            <a class="btn btn-danger" href="/" role="button">Cancel</a>
        </form>
    </div>
</div>

<script src="./js/newPost.js"></script>